<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830015598014-l2kk5jjl2ko9ovv8ol38t1fsoorrcq92.apps.googleusercontent.com	</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830015598014-l2kk5jjl2ko9ovv8ol38t1fsoorrcq92</string>
	<key>API_KEY</key>
	<string>AIzaSyC0uD3eWNths-fX74oIw8JHcxkoz1KUBxg</string>
	<key>GCM_SENDER_ID</key>
	<string>830015598014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tripsine.tripsine-mobile</string>
	<key>PROJECT_ID</key>
	<string>tripsine-878a9</string>
	<key>STORAGE_BUCKET</key>
	<string>tripsine-878a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:830015598014:ios:af814058f14ac140b35def</string>
</dict>
</plist>
