<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-Thin.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>NSCameraUsageDescription</key>
					<string>&quot;Tripsine&quot; gostaria de acessar sua camera</string>
					<key>NSPhotoLibraryUsageDescription</key>
					<string>&quot;Tripsine&quot; gostaria de ter acesso a sua galeria</string>
					<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
					<string>Deseja usar localização atual para buscar restaurantes próximos a você?</string>
					<key>NSLocationAlwaysUsageDescription</key>
					<string>Deseja usar localização atual para buscar restaurantes próximos a você?</string>
					<key>NSLocationWhenInUseUsageDescription</key>
					<string>Deseja usar localização atual para buscar restaurantes próximos a você?</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
</dict>
</plist>
